section {
  background-color: lightpink;

}
h1 {
  color: darkgreen;
}
h3 {
  color: darkolivegreen;
}
.h1-text {
  color: lightslategray;
}
.h3-text {
  color: rgb(8, 88, 88);
}
.item1 {
  color: burlywood;
}
.item2 {
  color: blanchedalmond;
}
.item3 {
  color: blueviolet;
}
.item4 {
  color: brown;
}
.item5 {
  color: pink;
}